<header>
  <h1 class="header-image">実らせ屋</h1>
</header>

<main>
  <div class="container py-4 tree-app">
    <% flash.each do |message_type, message| %>
      <div class="mb-5 fs-2 text alert alert-<%= message_type == 'success' ? 'success' : 'danger' %> alert-dismissible fade show">
        <%= message %>        
      </div>
    <% end %>

    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="growth-display d-flex align-items-center">
          <div class="growth-display-left">
            <h2>状態：<%= @stage_name %></h2>
            <p>次の成長まで<br><span class="count_number"><%= @remaining_posts %></span>投稿</p>           
          </div>
          <div class="growth-stage-image-container p-5">
            <%= image_tag @base_image, alt: @stage_name, class: "tree-image" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="post-board">
          <% @posts.each do |post| %>
            <div class="speech-bubble p-1 mb-4 rounded">
              <p class="fw-bold"><%= post.name.presence || '名無し' %></p>
              <p><%= post.body %></p>
            </div>
          <% end %>          
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="post-form">
          <h2 class="form-title">------  実らせフォーム  ------</h2>
          <%= form_with model: @post, local: true do |f| %>
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: "form-control mb-3" %>

            <%= f.label :body, "実らせワード" %>
            <%= f.text_field :body, class: "form-control mb-3" %>

            <%= f.submit "実らせる", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>      
    </div>
  </div>
</main>  
</body>
</html>